@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #1A1A1A;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  user-select: none;
}

#root {
  height: 100%;
}

